#logo{
    border-style: solid;
    height: 233px;
    margin-top: 89px;
    display: flex;
    justify-content: center;
}

#logo img{
    padding-top: 109px;
}

#searchBar input {
    height: 34px;
    width: 487px;
    border-width: 0;
    background-color: white;
}

#searchBar img {
    margin: 0 10px 0 15px;
}

#searchArea{
    display:flex;
    flex-direction: column;
    align-items: center;
}

#buttons{
    margin-top: 18px;
}

#buttons button{
    color: rgb(95, 99, 104);
    background-color: rgb(242, 242, 242);
    border-style: solid;
    border-radius: 4px;
    border-color: rgb(242, 242, 242);;
    border-width: 1px;
    font-family: arial;
    font-size: 14px;
    width: auto;
    height: 34px;
    padding:0 16px;
    margin: 11px 4px;
}

#searchBar{
    border-style: solid;
    border-color: rgba(223, 225, 229, 0.555);
    border-width: 1px;
    display:flex;
    justify-content: flex-start;
    align-items: center;
    width: 582px;
    height: 44px;
    background-color: white;
    border-radius: 60px;
}

nav{
    display: flex;
    align-items: center;
    position: absolute;
    top:17px;
    right:27px;
    font-size: 13px;
    font-family: arial,sans-serif;
}

nav a{
    padding: 0px 8px;
}

nav a:link{
    text-decoration: none;
    color:rgba(0, 0, 0, 0.87);
}

nav a:visited{
    text-decoration: none;
    color:rgba(0, 0, 0, 0.87);
}

nav button{
    background-color: rgb(66, 133, 244);
    color:white;
    border-width: 1px;
    border-color: rgb(66, 133, 244);;
    width:auto;
    padding:0 12px;
    margin-left: 10px;
    height: 30px;
    font-family: arial,sans-serif;
    font-weight: bold;

}

nav img{
    margin: 0 10px
}

footer{
    display:flex;
    flex-direction: column;
    position: absolute;
    bottom:0px;
    width: 100%;
    color: rgb(95, 99, 104);
    font-family: arial;
    font-size: 14px;
}

footer a:link{
    text-decoration: none;
    color: rgb(95, 99, 104);
    margin: 0 13px;
}

footer div{
    background-color: #f2f2f2;
    height: 40px;
    display:flex;
    align-items: center;
}

#links{
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
    border: solid;
    border-width: 1px;
    border-color: #e4e4e4;
    border-bottom: none;
}


#country{
    padding: 0 28px;
    border:solid;
    border-width: 1px;
    border-color: #e4e4e4;
    border-bottom: none;
    font-size: 15px;
}




